{% extends 'BudgetApp/index.html' %}
{% load static %}

{% block content%}

<body>
    <main>
            <!-- Header Buttons -->
        <header class = "create-buttons">
            <div class="new-category-wrapper">
                <div class = "new-category-container">
                    <div class="new-category-sub-container">
                        <!-- Creating a Category -->
                        <div class="new-category-div-container">
                            <button class="submit"id="new-category-button">New Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spending-wrapper">
                <div class = "spending-container">
                    <div class="spending-sub-container">
                        <!-- New spending  input -->
                        <div class="spending-div-container">
                            <button class="submit"id="spending-amount-button"> New Line Item.</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </main> 

<!--    End Header Button Section   -->
<!---           Page Body           -->
    <main>
        <table class="budget-table">
            <thead>
                <tr>
                    <th >Line Item</th>
                    <th>Spent Amount</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                    <!-- Generate rows for the amount of line items-->
                <tr>
                    <!-- Generate line items from user input/data-->
                    <td>Fries </td>
                    <td>$3</td>
                    <td>Food</td>
                </tr>
                <tr>
                    <!-- Generate line items from user input/data-->
                    <td>PGE Bill</td>
                    <td>$120 </td>
                    <td>Utilities </td>
                </tr>
                <tr>
                    <!-- Generate line items from user input/data-->
                    <td>Tre Stelle: Iced Latte</td>
                    <td>$5.75 </td>
                    <td>Miscelaneous </td>
                </tr>
                <tr>
                    <!-- Generate line items from user input/data-->
                    <td>REI </td>
                    <td>$321.48 </td>
                    <td>Miscelaneous </td>
                </tr>
            </tbody>
        </table>


    </main>
</body>

{% endblock%}